header {
    position:relative;
    border-bottom:1px solid #ccc;
    height:auto;
    text-align:center;
    z-index:99;
    padding:20px 0 0;

    .header__inner {
        position:relative;
        width:$inner-max-width;
        margin:0 auto;

        .header__logo__wrap {
            float:left;
        }

        .header__user__wrap {
            position:absolute;
            right:20px;
            top:10px;

            ul {
                li {
                    display:inline-block;
                    padding-left:20px;

                    a {
                        display:block;
                        font-size:$font-size-base;
                        color:$color-base;
                    }
                }
            }
        }
    }    
}